<div *ngIf="task">

  <h2>{{task.name | uppercase}}</h2>
  <div><span>if: </span>{{task.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="task.name" placeholder="name"/>
    </label>
  </div>
  
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>